<h2>
Información sobre los autores
</h2>

<p> 
Álvaro Pérez Ramón</br>
David Portilla Abellán
</p>

<h2>
Vídeo sobre el blog
</h2>

<video id="videoContainer" src="video/MOV_1505.m4v" controls preload>
</video>